/* ===== Base reset ===== */
*,
*::before,
*::after { box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Noto Sans TC", system-ui, -apple-system, "Segoe UI", Roboto, "PingFang TC", "Microsoft JhengHei", Arial, sans-serif;
  color: #222;
  background: #fff;
}

a { color: inherit; text-decoration: none; } /* 連結顏色繼承父元素的文字色，不用瀏覽器預設藍/紫 */
ul { margin: 0; padding: 0; list-style: none; } /* 瀏覽器會預設縮排與外距。清掉更容易用 Flex/Grid 自己排間距 */
img { display: block; max-width: 100%; height: auto; } /* 讓讓圖片不會超出容器寬度、在小螢幕自適應 */
button { font: inherit; }

/* ===== Containers ===== */
.header__container,
.hero__container,
.main-content__container,
.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ===== Header ===== */
.header {
  background: #fff;
  height: 54px;
}

.header--sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  /* box-shadow: 0 2px 10px rgba(0,0,0,.08); */
}

.header__container {
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-weight: 800;
  font-size: 30px;
  color: #448899;
  white-space: nowrap; /* 不換行 */
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.header__nav-link {
  font-size: 16px;
  color: #666666;
}

/* .header__nav-link:hover { color: #448899; } */

/* ===== Hero ===== */
.hero {
  position: relative;
  min-height: 320px;
  overflow: visible;
  color: #fff;
}

.hero__bg {
  position: absolute;
  inset: 0; /* top/right/bottom/left 全為 0 */
  background-image: url("/static/images/welcome.png");
  background-size: cover; /* 按比例放大並裁切圖片以填滿容器 */
  background-position: center top; /* 以中央對齊裁切 */
}

.hero__container {
  position: relative;
  min-height: inherit;
  display: flex;
  align-items: center;
}

.hero__content {
  margin: 75px 0 76px;
}

.hero__title {
  margin: 0 0 15px;
  font-size: 28px;
  font-weight: 700;
}

.hero__subtitle {
  margin: 0 0 25px;
  font-size: 16px;
  font-weight: 700;
}

/* ===== Search Bar ===== */
.search-bar {
  border-radius: 5px;
}
.search-bar__group {
  position: relative; /* dropdown panel 定位基準 */
  display: flex;
  align-items: stretch;
  height: 46px;
  width: 460px;
  max-width: 100%;
}

.category-dropdown__trigger {
  height: 46px;
  border: 0;
  background: #EEEEEE;
  display: inline-flex; 
  align-items: center;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.category-dropdown__trigger-text {
  font-weight: 500;
  color: #111;
  font-size: 16px;
  white-space: nowrap;
  line-height: 1; /* 確保文字基線不偏移 */
  padding: 16px 8px;
}

.search-bar__field {
  flex: 1 1 auto; /* 彈性填滿 category按鈕與submit按鈕間的剩餘空間，但會在空間不足時縮小 */
  height: 46px;
}

.search-bar__input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  padding: 15px 15px;
  font-size: 16px;
  color: #111;
}

.search-bar__input::placeholder { color: #999; }

.search-bar__submit {
  width: 60px;
  height: 46px;
  border: 0;
  cursor: pointer;
  background: #448899;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-bar__submit-icon {
  padding: 8px 15px;
  width: 30px;
  height: 30px;
  background-image: url("/static/images/search.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* ===== Category Dropdown Panel ===== */
/* 預設 hidden */
.category-dropdown__panel[hidden] { display: none; }

.category-dropdown__panel {
  position: absolute;
  top: calc(100% + 5px);
  left: 0; /* 對齊到定位參考的左邊緣 */
  width: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0,0,0,.18);
  z-index: 30;
}

.category-dropdown__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.category-dropdown__item {
  font-size: 14px;
  height: 40px;
  padding: 10px 0 9px;
  text-align: center;
  color: #222;
  cursor: pointer;
  white-space: nowrap;
}

/* .category-dropdown__item:hover {
  color: #448899;
  font-weight: 700;
} */

/* ===== Main Content ===== */
.main-content { margin: 40px 0}

/* MRT scroll */
.mrt-scroll {
  display: flex;
  align-items: center;
  padding: 0px 0px 20px 0px;
}

.mrt-scroll__arrow {
  flex: 0 0 auto;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.mrt-scroll__arrow--left {
  margin: 9px 0 9px 15px;
  background-image: url("/static/images/btn_left.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mrt-scroll__arrow--right {
  margin: 9px 15px 9px 0;
  background-image: url("/static/images/btn_right.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mrt-scroll__viewport {
  flex: 1 1 auto;
  overflow-x: auto; /* 若內容超出容器寬度，會出現水平滾動條並允許水平捲動；否則不顯示 */
  overflow-y: hidden; /* 垂直方向不允許捲動 */
  display: flex;
  justify-content: center;
  scrollbar-width: none;
}

.mrt-scroll__viewport::-webkit-scrollbar { display: none; } /* 隱藏捲軸但保留捲動功能 */

.mrt-scroll__list {
  display: flex;
  align-items: center;
  min-width: max-content;
}

.mrt-scroll__btn {
  border: 0;
  background: transparent;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  padding: 9px 15px;
}

/* .mrt-scroll__btn:hover {
  color: #448899;
  font-weight: 700;
} */


/* ===== Attraction Card ===== */
.attraction-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
}

.attraction-card {
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
}

.attraction-card__link { display: block; }

.attraction-card__media {
  position: relative;
  width: 100%;
  height: 197px;
  overflow: hidden;
  background: #f3f3f3;
}

.attraction-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.attraction-card__title-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.55);
}

.attraction-card__title {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attraction-card__meta {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #666;
}

/* ===== Footer ===== */
.footer {
  background: #757575;
  padding: 40px 0;
}

.footer__text {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

/* ===== RWD：Tablet (<=1200px) ===== */
@media (max-width: 1200px) {
    .header__container,
    .hero__container,
    .main-content__container,
    .footer__container {
        width: 90%;
        margin: 0 auto;
    }

  /* 平板改 2 欄，寬度自適應 */
  .attraction-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ===== RWD：Mobile (<=600px) ===== */
@media (max-width: 600px) {
  .hero__content { margin: 76px 0 75px; }

  .search-bar__group { width: 320px; }
  .category-dropdown__panel { width: 300px }

  .mrt-scroll__btn { padding: 5px 15px; }

  .attraction-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
